<mat-drawer-container class="container" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'side'">
        <button mat-raised-button (click)="showBook()">图书管理</button>
        <p></p>
        <button mat-raised-button (click)="showPeople()">人员管理</button>
        <p></p>
        <button mat-raised-button (click)="showBorrowReturn()">借阅管理</button>
    </mat-drawer>
    <mat-drawer-content>
      <button mat-raised-button (click)="drawer.toggle()">侧边栏</button>

      <hr>
      <app-book-mgr-index *ngIf="showBookMgr"></app-book-mgr-index>
      <app-people-mgr-index *ngIf="showPeopleMgr"></app-people-mgr-index>
      <app-borrow-return-mgr-index *ngIf="showBorrowReturnMgr"></app-borrow-return-mgr-index>
    </mat-drawer-content>
  </mat-drawer-container>