.container{
    text-align: center;
    margin: auto;
}

h1{
    font-size: 7vw;
    font-weight: lighter;
}

.username-container{
    padding-top: 50px;
    width: 50vw;
    font-size: 3vw;
}

.password-container{
    width: 50vw;
    font-size: 3vw;
}

button{
    height: 7vw;
    width: 20vw;
    font-size: 5vw;
}