<div class="container">
    <h1>登录</h1>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <mat-form-field appearance="fill" class="username-container">
            <mat-label>学号</mat-label>
            <input matInput [type]="'text'">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <p></p>
        <mat-form-field appearance="fill" class="password-container">
          <mat-label>密码</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
    </form>
</div>
