<div class="container">
    <h1>登录</h1>

    <p>
        TODO：
            表单验证
            密码加密
            后台连接
    </p>


    <mat-form-field appearance="fill" class="username-container">
        <mat-label>学号</mat-label>
        <input matInput [type]="'text'" [(ngModel)]="username" placeholder="admin">
    </mat-form-field>
    <p></p>
    <mat-form-field appearance="fill" class="password-container">
        <mat-label>密码</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" placeholder="admin">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <p></p>
    <button mat-raised-button color="primary" (click)="onSubmit()">LOGIN</button>
</div>
